        <div class="row">
		<div class="col-sm-2">
		</div>
            <div class="col-sm-8">
				<h1 style="font-weight: bold;font-family:'Times New Roman', Times, serif;font-size: 40px">About Us</h1>
                <div class="jumbotron">
                    
                    <p style="font-family:'Times New Roman', Times, serif">From You FlowerLover® is owned and operated by partners with over 35 years of combined experience in the floral industry. We are a member of the multiple florist networks and have delivery capabilities worldwide via our affiliation with over 20,000 premier florists from around the world.
					<br>
					From You FlowerLover® currently employs full and part time employees including, Customer Service Representatives, Managers and Supervisors (day, night and weekend). All our employees have extensive experience in Customer Service relating to the flower gift industry.
					<br>
					From You FlowerLover® offers a complete selection of personal and corporate floral and gift items appropriate for any occasion and every sentiment. This includes fresh flowers, plants, balloons and gift baskets. We have a full-service Special Client Services department, with a separate phone number and dedicated staff designed to meet all the needs of our customers.
					<br>
					From You FlowerLover® also offers a unique Reminder Service designed to provide advance notice and gift selection assistance for important dates such as birthdays, anniversaries and holidays. Customers can make purchases 24 hours-a-day, 7 days-a-week via toll-free 800 number or on the Internet at www.fromyouflowers.com. From You Flowers, LLC offers same-day delivery service on orders placed before 3:00 p.m. in the delivery time zone. Geographic Capabilities From You Flowers® services the United States as well as more than 140 countries worldwide.
					<br>
					Issue Resolution
					<br>
					Our representatives are instructed and empowered to fulfill a customer request and to do whatever it takes to satisfy them and exceed their service expectations. We know how important it is for our customers to know we are responding to their questions and concerns.
					</p>
                </div>
            </div>
           
        </div>
