<!-- views/partials/header.ejs -->
<div style="clear: both;height:50px">
<h1 id="website_header" style="font-size:45px;font-family:'Times New Roman', Times, serif;color:rgb(241, 111, 172); float:left;font-weight: bold;">Flower Lovers</h1>
<image src="/images/loveit.jpg" style="height: 55px; width: 70px;"></image>
<h2 style="font-size:20px;font-family:'Times New Roman', Times, serif;margin-right:10px;margin-top:15px;font-weight: bold; float:right;" >love it. get it.</h2>
</div>
<br>
<div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#"></a>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav" id="nav-list-id">
	 <li id="LoginLogoutId" class="nav-item">
        <a id="LoginLogout2" class="nav-link textInNav" data-toggle="modal" data-target="#id01" onclick="displayLogin()" >Login</a>
      </li>
	   <li id="AboutId" class="nav-item">
        <a class="nav-link textInNav" onclick="uploadAbout()"  > About </a>
      </li>
      <li id="ContantUsId" class="nav-item">
        <a class="nav-link textInNav"  onclick="uploadContantUs()">Contact us</a>
      </li>
    </ul>
  </div>  
</nav>
</div>
